.logo-container {
  margin-top: 50px; /* Adjust the margin as needed */
}

.logo {
  width: 300px; /* Adjust the width as needed */
  height: 200;
}

.app-name {
  margin-top: 20px; /* Adjust the margin as needed */
}

ion-button {
  margin-top: 20px; /* Adjust the margin as needed */
}

body {
  background-color: #b6deb5; /* Change this color to your desired background color */
}
